{% extends "_layouts/cp" %}


{% set pluginName = translationHelper.fullName %}
{% set title = title ?? pluginName %}
{% set docTitle = title ~ ' - ' ~ pluginName %}

{% set selectedSubnavItem = selectedSubnavItem ?? '' %}

{# Sidebar hidden for now - uncomment if needed for sub-navigation in the future
{% block sidebar %}
    <nav>
        <ul>
            <li><a href="{{ url('translation-manager') }}" {% if selectedSubnavItem == 'translations' %}class="sel"{% endif %}>{{ 'Translations'|t('translation-manager') }}</a></li>
            {% if currentUser.can('translationManager:editSettings') %}
                <li><a href="{{ url('translation-manager/settings') }}" {% if selectedSubnavItem == 'settings' %}class="sel"{% endif %}>{{ 'Settings'|t('translation-manager') }}</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
#}
